mixin box-text(icon, title, text)
    .media
        .media-left
            a(href='#')
                i.fa(class="fa-" + icon)
        .media-body
            h4.media-heading= title
            | #{text}

mixin section-title(title, text)
    .section-title
        h2= title
        p= text

mixin testimonial(name, company, text)
    blockquote
        p= text
        footer
            i.fa.fa-user
            cite(title=name)= name
            | #{company}